body {
	margin-top: 30px;
	margin-right: 40px;
	margin-left: 70px;
	margin-bottom: 10px;
}

#picture {
	float: left;
	height: 100px;
	width: 150px;
	
	padding: 5px 15px 5px 5px;
}

#column1 {
	float: left;
	width: 32%;
	text-align: justify;
	padding: 5px 5px 5px 5px;
}
#column2 {
	float: left;
	width: 32%;
	text-align: justify;
	padding: 5px 5px 5px 5px;
}
#column3 {
	float: left;
	width: 32%;
	text-align: justify;
	padding: 5px 5px 5px 5px;
}

.section {
	clear: both;
}